################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LamdaNetCore/.vs/LamdaNetCore/v15
